.App {
  display: flex;
}
h1 {
  display: inline-block;
  font-weight: 500;
}
p {
  display: flex;
  align-items: center;
  margin: auto 0 auto auto;
}
.addTodo {
  display: flex;
  height: 80px;
  background-color: cornsilk;
  border-radius: 15px;
}
.addInput {
  display: flex;
  align-items: center;
  margin: auto 150px auto 30px;
}
.add {
  display: flex;
  align-items: center;
  float: right;
  margin: auto 20px auto auto;
  height: 50px;
}

.working {
  height: 400px;
  background-color: bisque;
}
.done {
  height: 400px;
  background-color: rgb(141, 202, 134);
}
